HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Maven-specific ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### macOS ###
.DS_Store

### Log files ###
*.log

### Compiled class files ###
*.class

### Test Coverage Reports ###
jacoco.exec
*.exec
*.coverage
*.lcov

### Generated Sources ###
generated-sources/
generated-test-sources/

### Generated Logs and Reports ###
surefire-reports/
maven-status/
site/

### Temporary Files ###
*.swp
*~
